.Rproj.user
.Rhistory
.RData
.DS_Store
vignettes/monocle-vignette.tex
vignettes/monocle-vignette.toc
vignettes/monocle-vignette.bbl
vignettes/monocle-vignette-concordance.tex
vignettes/monocle-vignette.log
vignettes/monocle-vignette.synctex.gz
vignettes/monocle-vignette.tex
vignettes/figure/*.pdf
.Ruserdata

