---
layout: vanilla
permalink: /cite/
description: "Documentation for Monocle."
modified: 2013-09-11
tags: [monocle, install, installation]
---
<!DOCTYPE html>
<html lang= "{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <!-- See here for how to use the TOC control:
  https://afeld.github.io/bootstrap-toc/ -->
  <body  data-spy= "scroll" data-target= "#toc">
    {% include header.html %}

    <div class= "container">
      <div class= "row">
        <!-- sidebar, which will move to the top on a small screen -->
        <div class= "col-sm-4">
          <nav id= "toc" data-spy= "affix" data-toggle= "toc"></nav>
        </div>

        <h1>Citation</h1>

        If you use Monocle to analyze your experiments, please cite:

        {% highlight R %}

        citation("monocle")

        ##   Cole Trapnell and Davide Cacchiarelli et al (2014): The dynamics
        ##   and regulators of cell fate decisions are revealed by
        ##   pseudo-temporal ordering of single cells. Nature Biotechnology
        ##
        ##   Xiaojie Qiu, Andrew Hill, Cole Trapnell et al (2017):
        ##   Single-cell mRNA quantification and differential analysis with
        ##   Census. Nature Methods
        ##
        ##   Xiaojie Qiu, Cole Trapnell et al (2017): Reverse graph embedding
        ## resolves complex single-cell developmental trajectories. BioRxiv ##
        ## To see these entries in BibTeX format, use 'print(<citation>,
        ## bibtex=TRUE)', 'toBibtex(.)', or set
        ## 'options(citation.bibtex.max= 999)'.

        {% endhighlight %}

        <br>

        <h1> Getting Help </h1>

        <p>Questions about Monocle should be posted on our <a
        href= "https://groups.google.com/forum/#!forum/monocle-users">Google Group</a>.
        Please use <a href= "mailto:monocle.users@gmail.com">monocle.users@gmail.com</a>
        for private communications that cannot be addressed by the Monocle user
        community. Please do not email technical questions to Monocle contributors
        directly.
