---
layout: vanilla
title: trapnell lab
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <!-- See here for how to use the TOC control:
  https://afeld.github.io/bootstrap-toc/ -->
  <body  data-spy="scroll" data-target="#toc">
    {% include header.html %}

    <div class="container">
      <div class="row">
        <!-- sidebar, which will move to the top on a small screen -->
        <div class="col-sm-4">
          <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
        </div>
        <!-- main content area -->
        <div class="col-sm-8">
<p>
<h2> Installing Monocle </h2>

<h3> Required software </h3>
Monocle runs in the <a href="http://www.r-project.org/">R statistical computing environment</a>. You will need R version 3.4 or higher, Bioconductor version 3.5, and monocle 2.4.0 or higher to have access to the latest features. To install <a href="http://bioconductor.org/install/">Bioconductor</a>:

{% highlight R %}
source("http://bioconductor.org/biocLite.R")
biocLite()
{% endhighlight %}

Once you've installed Bioconductor, you're ready to install Monocle and all of its required dependencies:

{% highlight R %}
> biocLite("monocle")
{% endhighlight %}

<h3> Testing the installation </h3>
To ensure that Monocle was installed correctly, start a new R session and type:

{% highlight R %}
library(monocle)
{% endhighlight %}

<h3> Analyzing your data </h3>

Now that you've installed Monocle, check out the <a href="/docs/">documentation</a> for how to load up your data and get going.

<h3> Installing the latest Beta release</h3>
The latest stable release of Monocle is available through Bioconductor, and we recommend you use that. However, you can also install our latest public beta build through GitHub as show below. Enter the following commands at the R console:

{% highlight R %}
install.packages("devtools")
devtools::install_github("cole-trapnell-lab/monocle-release@develop")
{% endhighlight %}

Sometimes we add features that require you install certain additional packages. You may see errors when you try the above command. You can install the packages in the error message by typing (for example):

{% highlight R %}
biocLite(c("DDRTree", "pheatmap"))
{% endhighlight %}
{% include footer.html %}

</body>

</html>
